html,body {
    height:100%;
    margin:0;
    padding:0;
	min-width:750px;
	min-height:650px;
	font-family: PT Sans;
	}
	
html {
	background-image: url("./img/background.jpg");
	}

.line {
	background:#000;
	height:3px;
	}
	
.head {
	margin-bottom:30px;
	}
	
.logo {
	margin:10px;
	display:inline-block;
	font-weight: bold; 
	}
	
.login {
	margin:10px;
	float:right;
	display:inline-block;
	color:#666666;
	border-bottom:1px dotted;
	text-decoration:none;
	}

.headline {
	font-family:PT Serif;
	font-weight:bold; 
	font-size:54pt;
	text-align:center;
	}
	
.sru {
	width:220px;
	margin:0 auto 100px auto;
	}
	
.sru ul {
	-webkit-padding-start: 0;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	}
	
.sru ul li{
	display:inline-block;
	font-size:13pt;
	}

/* news block*/
.wrap {
	width:840px;
	margin:0 auto;
	}	
	
.news {
	padding-left:270px;
	display:block;
	}

.title {
	font-size:13pt;
	color:#000;
	}
	
.left {
	float:left;
	}
	
.freedom {
	position:absolute;
	margin-left:-60px;
	margin-top:-77px;
	width:90px;
	height:30px;
	background-color:#ff6666;
	text-align:center;
	}