html,body {
    height:100%;
    margin:0;
    padding:0;
	min-width:910px;
	min-height:650px;
	font-family:PT Sans;
	}
	
html {
	background-image:url("./img/background.jpg");
	}

.line {
	background:#000;
	height:3px;
	}
	
.head {
	margin-bottom:30px;
	}
	
.logo {
	margin:10px;
	display:inline-block;
	font-weight:bold; 
	}
	
.login, .close {
	margin:10px;
	float:right;
	color:#666666;
	text-decoration:none;
	border-bottom:1px dotted;
	}
	
.login {
	display:inline-block;
	}
	
.close {
	font-size:14px;
	}

.headline {
	font: 72px 'PT Serif', sans-serif;
	font-weight:bold;
	text-align:center;
	}
	
.sru {
	width:220px;
	margin:0 auto 100px auto;
	}
	
.sru ul {
	-webkit-padding-start: 0;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	}
	
.sru ul li{
	display:inline-block;
	font-size:13pt;
	}

/* news block*/
.wrap, .foot {
	width:840px;
	margin:0 auto 100px auto;
	}	

.news {
	min-height:100px;
	margin-bottom:50px;
	}
	
.article {
	margin-left:200px;
	width:640px;
	font-size:10pt;
	}

.title {
	display: block;
	font-size:13pt;
	font-weight:bold;
	color:#000;
	margin-bottom:5px;
	}
	
.left {
	float:left;
	}

.freedom, .equality, .upchk {
	position:absolute;
	margin-left:-40px;
	width:80px;
	height:25px;
	line-height:25px;
	font-size: 11pt;
	text-align:center;
	font-style:italic;
	color:#FFF;
	}
	
.freedom {
	margin-top:-106px;
	background-color:#ff6666;
	}
	
.equality {
	margin-top:-106px;
	background-color:#99cc66;
	}
	
.upchk {
	margin-top:-90px;
	background-color:#6699cc;
	}

/* Днище */
.foot {
	height:100px;
	font-size:9pt;
	color:#707070;
	}
	
/* popup */	
#popup {
	display:none; 
	position:relative; 
	z-index:1; 
	margin:-750px auto 0 auto;
	}
	
#background { 
	width:100%; 
	height:100%; 
	left:0; 
	top:0;
	position:fixed;
	z-index:2; 
	background-color:#000; 
	filter:alpha(opacity=75);
	-moz-opacity:0.75; 
	opacity:0.75; 
 }
 
#window {
	width:370px; 
	height:230px; 
	margin:0 auto; 	
	position:relative; 
	z-index:3; 
	background-color:#FFF; 
	box-shadow:0 0 55px;
}

#loginForm {
	padding:60px;
	}

input {
	width:224px;
	height:15px;
    border:1px solid #e5e5e5;
	border-top-color:#a3a3a3;
	border-left-color:#c6c6c6;
    border-top-style:solid;
    box-shadow:inset 0 1px 2px 0 #e5e5e5;
	padding:5px 7px;
	font-size:14px;   
	color:#666666;
}
	
button {
	width:70px;
	}
	
.btnLogin {
	display:inline-block;
	}
